{
  "mcpServers": {
    "godot-mcp-toolkit": {
      "command": "node",
      "args": ["C:/Users/nicol/OneDrive/Desktop/Personal/AIWithGodot/godot-mcp-server/dist/index.js"],
      "env": {}
    }
  }
}
